.section-title {
    margin-bottom: 50px;
    text-align: center;
}

.section-title h2 {
    color: #1c1c1c;
    font-weight: 700;
    position: relative;
}

.section-title h2:after {
    position: absolute;
    left: 0;
    bottom: -15px;
    right: 0;
    height: 4px;
    width: 80px;
    background: #7fad39;
    content: "";
    margin: 0 auto;
}

.set-bg {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
}

.spad {
    padding-top: 100px;
    padding-bottom: 100px;
}

.text-white h1,
.text-white h2,
.text-white h3,
.text-white h4,
.text-white h5,
.text-white h6,
.text-white p,
.text-white span,
.text-white li,
.text-white a {
    color: #fff;
}

/* buttons */

.primary-btn {
    display: inline-block;
    font-size: 14px;
    padding: 10px 28px 10px;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 700;
    background: #7fad39;
    letter-spacing: 2px;
}

.site-btn {
    font-size: 14px;
    color: #ffffff;
    font-weight: 800;
    text-transform: uppercase;
    display: inline-block;
    padding: 13px 30px 12px;
    background: #7fad39;
    border: none;
}

/*-----------Header-------------*/

.row {
    display: flex;
    justify-content: space-between;
    max-width: 80%;
    margin: 0 auto;
}

.header__top {
    background: #f5f5f5;
    height: 50px;
}

.header__top__left {
    padding: 10px 0 13px;
}

.header__top__left ul li {
    font-size: 14px;
    color: #1c1c1c;
    display: inline-block;
    margin-right: 45px;
    position: relative;
}

.header__top__left ul li:after {
    position: absolute;
    right: -25px;
    top: 1px;
    height: 20px;
    width: 1px;
    background: #000000;
    opacity: 0.1;
    content: "";
}

.header__top__left ul li:last-child {
    margin-right: 0;
}

.header__top__left ul li:last-child:after {
    display: none;
}

.header__top__left ul li i {
    color: #252525;
    margin-right: 5px;
}

.header__top__right {
    text-align: right;
    padding: 10px 0 13px;
}

.header__top__right__social {
    position: relative;
    display: inline-block;
    margin-right: 35px;
}

.header__top__right__social:after {
    position: absolute;
    right: -20px;
    top: 1px;
    height: 20px;
    width: 1px;
    background: #000000;
    opacity: 0.1;
    content: "";
}

.header__top__right__social a {
    font-size: 14px;
    display: inline-block;
    color: #1c1c1c;
    margin-right: 20px;
}

.header__top__right__social a:last-child {
    margin-right: 0;
}

.header__top__right__language {
    position: relative;
    display: inline-block;
    margin-right: 40px;
    cursor: pointer;
}

.header__top__right__language:hover ul {
    top: 23px;
    opacity: 1;
    visibility: visible;
}

.header__top__right__language:after {
    position: absolute;
    right: -21px;
    top: 1px;
    height: 20px;
    width: 1px;
    background: #000000;
    opacity: 0.1;
    content: "";
}

.header__top__right__language img {
    margin-right: 6px;
}

.header__top__right__language div {
    font-size: 14px;
    color: #1c1c1c;
    display: inline-block;
    margin-right: 4px;
}

.header__top__right__language span {
    font-size: 14px;
    color: #1c1c1c;
    position: relative;
    top: 2px;
}

.header__top__right__language ul {
    background: #222222;
    width: 100px;
    text-align: left;
    padding: 5px 0;
    position: absolute;
    left: 0;
    top: 43px;
    z-index: 9;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all, 0.3s;
    -moz-transition: all, 0.3s;
    -ms-transition: all, 0.3s;
    -o-transition: all, 0.3s;
    transition: all, 0.3s;
}

.header__top__right__language ul li {
    list-style: none;
}

.header__top__right__language ul li a {
    font-size: 14px;
    color: #ffffff;
    padding: 5px 10px;
}

.header__top__right__auth {
    display: inline-block;
}

.header__top__right__auth a {
    display: block;
    font-size: 14px;
    color: #1c1c1c;
    text-decoration: none;
}

.header__top__right__auth a i {
    margin-right: 6px;
}

.header__logo {
    padding: 15px 0;
}

.header__logo a {
    display: inline-block;
}

.header__menu {
    padding: 24px 0;
}

.header__menu ul {
    text-decoration: none;
}

.header__menu ul li {
    list-style: none;
    display: inline-block;
    margin-right: 50px;
    position: relative;
}

.header__menu ul li a {
    text-decoration: none;
}

.header__menu ul li .header__menu__dropdown {
    position: absolute;
    left: 0;
    top: 50px;
    background: #222222;
    width: 180px;
    z-index: 9;
    padding: 5px 0;
    -webkit-transition: all, 0.3s;
    -moz-transition: all, 0.3s;
    -ms-transition: all, 0.3s;
    -o-transition: all, 0.3s;
    transition: all, 0.3s;
    opacity: 0;
    visibility: hidden;
}

.header__menu ul li .header__menu__dropdown li {
    margin-right: 0;
    display: block;
}

.header__menu ul li .header__menu__dropdown li:hover>a {
    color: #7fad39;
}

.header__menu ul li .header__menu__dropdown li a {
    text-transform: capitalize;
    color: #ffffff;
    font-weight: 400;
    padding: 5px 15px;
}

/* Active link */
.header__menu ul li.active a {
    color: #7fad39;
}

.header__menu ul li a:is(:link, :active, :visited).active {
    color: #7fad39;
}

.header__menu ul li:hover .header__menu__dropdown {
    top: 30px;
    opacity: 1;
    visibility: visible;
}

.header__menu ul li:hover>a {
    color: #7fad39;
}

.header__menu ul li:last-child {
    margin-right: 0;
}

.header__menu ul li a {
    font-size: 14px;
    color: #252525;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2px;
    -webkit-transition: all, 0.3s;
    -moz-transition: all, 0.3s;
    -ms-transition: all, 0.3s;
    -o-transition: all, 0.3s;
    transition: all, 0.3s;
    padding: 5px 0;
    display: block;
}

.header__cart {
    text-align: right;
    padding: 24px 0;
}

.header__cart ul {
    display: inline-block;
    margin-right: 25px;
}

.header__cart ul li {
    list-style: none;
    display: inline-block;
    margin-right: 15px;
}

.header__cart ul li:last-child {
    margin-right: 0;
}

.header__cart ul li a {
    position: relative;
}

.header__cart ul li a i {
    font-size: 18px;
    color: #1c1c1c;
}

.header__cart ul li a span {
    height: 13px;
    width: 13px;
    background: #7fad39;
    font-size: 10px;
    color: #ffffff;
    line-height: 13px;
    text-align: center;
    font-weight: 700;
    display: inline-block;
    border-radius: 50%;
    position: absolute;
    top: 0;
    right: -12px;
}

.header__cart .header__cart__price {
    font-size: 14px;
    color: #6f6f6f;
    display: inline-block;
}

.header__cart .header__cart__price span {
    color: #252525;
    font-weight: 700;
}

.humberger__menu__wrapper {
    display: none;
}

.humberger__open {
    display: none;
}

/* Hero */

.col-lg-3 {
    width: 240px;
}

.col-lg-9 {
    width: 880px;
}

.hero {
    padding-bottom: 50px;
}

.hero.hero-normal {
    padding-bottom: 30px;
}

.hero.hero-normal .hero__categories {
    position: relative;
}

.hero.hero-normal .hero__categories ul {
    display: none;
    position: absolute;
    left: 0;
    top: 46px;
    width: 100%;
    z-index: 9;
    background: #ffffff;
}

.hero.hero-normal .hero__search {
    margin-bottom: 0;
}

.hero__categories__all {
    background: #7fad39;
    position: relative;
    padding: 10px 25px 10px 30px;
    cursor: pointer;
}

.hero__categories__all i {
    font-size: 16px;
    color: #ffffff;
    padding: 0 4px;
}

.hero__categories__all span {
    font-size: 18px;
    font-weight: 700;
    color: #ffffff;
}

.hero__categories__all:after {
    position: absolute;
    right: 18px;
    top: 9px;
    content: "";
    font-family: "ElegantIcons";
    font-size: 18px;
    color: #ffffff;
}

.hero__categories ul {
    border: 1px solid #ebebeb;
    padding-left: 40px;
    padding-top: 10px;
    padding-bottom: 12px;
}

.hero__categories ul li {
    list-style: none;
}

.hero__categories ul li a {
    font-size: 16px;
    color: #1c1c1c;
    line-height: 39px;
    display: block;
    text-decoration: none;
}

.hero__search {
    overflow: hidden;
    margin-bottom: 30px;
}

.hero__search__form {
    width: 610px;
    height: 50px;
    border: 1px solid #ebebeb;
    position: relative;
    float: left;
}

.hero__search__form form .hero__search__categories {
    width: 30%;
    float: left;
    font-size: 16px;
    color: #1c1c1c;
    font-weight: 700;
    padding-left: 18px;
    padding-top: 11px;
    position: relative;
}

.hero__search__categories i {
    font-size: 16px;
    padding-left: 12px;
}

.hero__search__form form .hero__search__categories:after {
    position: absolute;
    right: 0;
    top: 14px;
    height: 20px;
    width: 1px;
    background: #000000;
    opacity: 0.1;
    content: "";
}

.hero__search__form form .hero__search__categories span {
    position: absolute;
    right: 14px;
    top: 14px;
}

.hero__search__form form input {
    width: 70%;
    border: none;
    height: 48px;
    font-size: 16px;
    color: #b2b2b2;
    padding-left: 20px;
}

.hero__search__form form input::placeholder {
    color: #b2b2b2;
}

.hero__search__form form button {
    position: absolute;
    right: 0;
    top: -1px;
    height: 50px;
}

.hero__search__phone {
    float: right;
}

.hero__search__phone__icon {
    font-size: 18px;
    color: #7fad39;
    height: 50px;
    width: 50px;
    background: #f5f5f5;
    line-height: 50px;
    text-align: center;
    border-radius: 50%;
    float: left;
    margin-right: 20px;
}

.hero__search__phone__text {
    overflow: hidden;
}

.hero__search__phone__text h5 {
    color: #1c1c1c;
    font-weight: 700;
    margin-bottom: 5px;
}

.hero__search__phone__text span {
    font-size: 14px;
    color: #6f6f6f;
}

.hero__item {
    height: 431px;
    display: flex;
    align-items: center;
    padding-left: 75px;
}

.hero__text span {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 4px;
    color: #7fad39;
}

.hero__text h2 {
    font-size: 46px;
    color: #252525;
    line-height: 52px;
    font-weight: 700;
    margin: 10px 0;
}

.hero__text p {
    margin-bottom: 35px;
}

.hero__text a {
    text-decoration: none;
}

.hero__categories ul.close {
    display: none;
}

.hero__categories ul.open {
    display: block;
}

/* Categories */

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.categories {
    max-width: 80%;
    margin: 0 auto;
    overflow-x: hidden;
}

.swiper-slide img {
    display: flex;
    justify-content: space-between;
    width: 240px;
    height: 200px;
    object-fit: cover;
    margin: 0 36px;
}

.featured {
    padding: 80px 0 40px 0;
}

.col-lg-12 {
    margin: 0 auto;
}

.featured__controls {
    text-align: center;
    margin-bottom: 50px;
}

.featured__controls ul li {
    list-style: none;
    font-size: 18px;
    color: #1c1c1c;
    display: inline-block;
    margin-right: 25px;
    position: relative;
    cursor: pointer;
}

.featured__controls ul li.active:after {
    opacity: 1;
}

.featured__controls ul li:after {
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 100%;
    height: 2px;
    background: #7fad39;
    content: "";
    opacity: 0;
}

.featured__controls ul li:last-child {
    margin-right: 0;
}

.featured__row {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.featured__item {
    margin-bottom: 50px;
}

.featured__item:hover .featured__item__pic .featured__item__pic__hover {
    bottom: 20px;
}

.featured__item__pic {
    height: 270px;
    position: relative;
    overflow: hidden;
    background-position: center center;
}

.featured__item__pic__hover {
    position: absolute;
    left: 0;
    bottom: -50px;
    width: 100%;
    text-align: center;
    -webkit-transition: all, 0.5s;
    -moz-transition: all, 0.5s;
    -ms-transition: all, 0.5s;
    -o-transition: all, 0.5s;
    transition: all, 0.5s;
    text-decoration: none;
}

.featured__item__pic__hover li {
    list-style: none;
    display: inline-block;
    margin-right: 6px;
}

.featured__item__pic__hover li:last-child {
    margin-right: 0;
}

.featured__item__pic__hover li:hover a {
    background: #7fad39;
    border-color: #7fad39;
}

.featured__item__pic__hover li:hover a i {
    color: #ffffff;
    transform: rotate(360deg);
}

.featured__item__pic__hover li a {
    font-size: 16px;
    color: #1c1c1c;
    height: 40px;
    width: 40px;
    line-height: 40px;
    text-align: center;
    border: 1px solid #ebebeb;
    background: #ffffff;
    display: block;
    border-radius: 50%;
    -webkit-transition: all, 0.5s;
    -moz-transition: all, 0.5s;
    -ms-transition: all, 0.5s;
    -o-transition: all, 0.5s;
    transition: all, 0.5s;
}

.featured__item__pic__hover li a i {
    position: relative;
    transform: rotate(0);
    -webkit-transition: all, 0.3s;
    -moz-transition: all, 0.3s;
    -ms-transition: all, 0.3s;
    -o-transition: all, 0.3s;
    transition: all, 0.3s;
}

.featured__item__text {
    text-align: center;
    padding-top: 15px;
}

.featured__item__text h6 {
    margin-bottom: 10px;
}

.featured__item__text h6 a {
    color: #252525;
    text-decoration: none;
}

.featured__item__text h5 {
    color: #252525;
    font-weight: 700;
}

/* Latest Product */

.latest-product {
    padding-top: 80px;
    padding-bottom: 0;
}

.latest-product__text h4 {
    font-weight: 700;
    color: #1c1c1c;
    margin-bottom: 45px;
}

.latest-product__slider.owl-carousel .owl-nav {
    position: absolute;
    right: 20px;
    top: -75px;
}

.latest-product__slider.owl-carousel .owl-nav button {
    height: 30px;
    width: 30px;
    background: #F3F6FA;
    border: 1px solid #e6e6e6;
    font-size: 14px;
    color: #636363;
    margin-right: 10px;
    line-height: 30px;
    text-align: center;
}

.latest-product__slider.owl-carousel .owl-nav button span {
    font-weight: 700;
}

.latest-product__slider.owl-carousel .owl-nav button:last-child {
    margin-right: 0;
}

.latest-product__item {
    margin-bottom: 20px;
    overflow: hidden;
    display: block;
    text-decoration: none;
}

.latest-product__item__pic {
    float: left;
    margin-right: 26px;
}

.latest-product__item__pic img {
    height: 110px;
    width: 110px;
}

.latest-product__item__text {
    overflow: hidden;
    padding-top: 10px;
    color: #000;
}

.latest-product__item__text h6 {
    color: #252525;
    margin-bottom: 8px;
}

.latest-product__item__text span {
    font-size: 18px;
    display: block;
    color: #252525;
    font-weight: 700;
}

/* From BLog */

.from-blog {
    padding-top: 50px;
    padding-bottom: 50px;
}

.from-blog .blog__item {
    margin-bottom: 30px;
}

.from-blog__title {
    margin-bottom: 70px;
}

.blog__item .blog__item__text ul {
    list-style: none;
    display: flex;
    color: #b2b2b2;
    padding: 4px 0;
}

.blog__item .blog__item__text ul li:first-child {
    margin-right: 24px;
}

.blog__item .blog__item__text h5 a {
    color: #000;
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;
}

/* Footer */

#footer {
    padding-top: 70px;
    background-color: #F3F6FA;
}

.container_top {
    display: flex;
    justify-content: center;
}

.footer_about {
    padding: 0 15px;
}

.footer_about ul li {
    font-size: 16px;
    list-style: none;
    color: #1c1c1c;
    line-height: 36px;
}

.footer_widget {
    margin-bottom: 30px;
    overflow: hidden;
    font-size: 14px;
    line-height: 32px;
    margin: 0 0 30px 80px;
    padding: 0 15px;
}

.footer_widget h6 {
    color: #1c1c1c;
    font-weight: bold;
    margin-bottom: 10px;
    font-size: 16px;
    width: 100%;
}

.footer_widget ul {
    width: 50%;
    float: left;
}

.footer_widget ul li {
    list-style: none;
    width: 145px;

}

.footer_widget ul li a {
    text-decoration: none;
    color: #1c1c1c;
}

.footer_widget p {
    font-size: 14px;
    color: #1c1c1c;
    margin-bottom: 30px;
}

form {
    display: block;
    margin-top: 0em;
}

.footer_widget form {
    position: relative;
    margin-bottom: 30px;
}

.footer_widget form input {
    width: 100%;
    font-size: 16px;
    padding-left: 20px;
    color: #1c1c1c;
    height: 46px;
    border: 1px solid #ededed;
    outline: 0;
}

.footer_widget form button {
    position: absolute;
    right: 0;
    top: 0;
    padding: 0 26px;
    height: 100%;
}

.footer_widget .site-btn {
    background-color: #7fad39;
    color: #ffff;
    border: none;
    font-weight: bold;
    margin: 0;
    font-family: inherit;
    line-height: inherit;
    font-size: 16px;
}

.footer_widget .footer_widget_social a {
    display: inline-block;
    height: 41px;
    width: 41px;
    font-size: 16px;
    color: #404040;
    border: 1px solid #ededed;
    border-radius: 50%;
    line-height: 38px;
    text-align: center;
    background: #ffffff;
    transition: all, 0.3s;
    margin-right: 10px;
}

.footer_widget .footer_widget_social a:hover {
    background-color: #7fad39;
    color: #fff;
    border-color: #fff;
}

.container_bottom {
    border-top: 1px solid #ebebeb;
    padding: 15px 0;
    overflow: hidden;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    margin: 0 203px 0 203px;
}

.footer_copyright_text .fa-heart {
    color: #6f6f6f;
}

.footer_copyright_text span {
    color: #007bff;
}

.footer_copyright_payment {
    float: right;
}

.footer_copyright_payment img {
    width: 100%;
}